In [110]:
import numpy as np

In [60]:
df= pd.read_csv('FA4.csv', index_col=[0])


normal=df['NORMAL']
skewed_right=df['SKEWED-RIGHT']
skewed_left=df['SKEWED-LEFT']
uniform=df['UNIFORM']

df.head(10)

    NORMAL  SKEWED-RIGHT  SKEWED-LEFT  UNIFORM
1       67            31          102     12.1
2       70            43           55     12.1
3       63            30           70     12.4
4       65            30           95     12.1
5       68            38           73     12.1
6       60            26           79     12.2
7       70            29           60     12.2
8       64            55           73     12.2
9       69            46           89     11.9
10      61            26           85     12.2

### General formula for moments:

# $ m_k= 1/n \sum_{i=1}^n (X_i - \mu)^k $

### Find the (a) first, (b) second, (c) third, and (d ) fourth moments for each of the sets of data (normal, skewed-right, skewed-left, uniform).

In [63]:
def moment(data, order):
    mean= np.mean(data)
    N= len(data)
    return [(1/N) * sum((data - mean) ** k) for k in range(1, order + 1)]
             
normal_moments= moment(normal,4)
skew_right_moments= moment(skewed_right,4)
skew_left_moments= moment(skewed_left,4)
uniform_moments= moment(uniform,4)

moments= pd.DataFrame({
    'Moment Order': [1, 2, 3, 4],
    'NORMAL': normal_moments,
    'SKEWED_RIGHT': skew_right_moments,
    'SKEWED_LEFT': skew_left_moments,
    'UNIFORM': uniform_moments,
})

rounded=moments.round(5)
rounded.head()

   Moment Order     NORMAL  SKEWED_RIGHT  SKEWED_LEFT  UNIFORM
0             1   -0.00000       0.00000      -0.0000 -0.00000
1             2    8.30560     178.88960     419.7600  0.07886
2             3   -0.47174    4588.12838  -12498.2640  0.00034
3             4  160.94863  210642.88344  927289.7472  0.01125

### Find the (a) first, (b) second, (c) third, and (d ) fourth moments about the mean for each of the sets of data .

In [91]:
def moment_mean(data,value, order):
    mean= np.mean(data)
    N= len(data)
    return [(1/N) * sum((data - value) ** k) for k in range(1, order + 1)]
             
normal_mean_moments= moment_mean(normal,np.mean(normal), 4)
skew_right_mean_moments= moment_mean(skewed_right, np.mean(skewed_right),4)
skew_left_mean_moments= moment_mean(skewed_left, np.mean(skewed_left), 4)
uniform_mean_moments= moment_mean(uniform, np.mean(uniform), 4)

moments_mean= pd.DataFrame({
    'Moment Order': [1, 2, 3, 4],
    'NORMAL mean': normal_moments,
    'SKEWED_RIGHT mean': skew_right_moments,
    'SKEWED_LEFT mean': skew_left_moments,
    'UNIFORM mean': uniform_moments,
})

rounded_mean=moments_mean.round(5)
rounded_mean.head()

,Moment Order,NORMAL mean,SKEWED_RIGHT mean,SKEWED_LEFT mean,UNIFORM mean
0,1,-0.00000,0.00000,-0.0000,-0.00000
1,2,8.30560,178.88960,419.7600,0.07886
2,3,-0.47174,4588.12838,-12498.2640,0.00034
3,4,160.94863,210642.88344,927289.7472,0.01125

### Find the (a) first, (b) second, (c) third, and (d ) fourth moments about the number 75 for the set of female height measurements.

In [92]:
def moment_value(data,value, order):
    mean= np.mean(data)
    N= len(data)
    return [(1/N) * sum((data - value) ** k) for k in range(1, order + 1)]
             
normal_height_moments= moment_value(normal, 75, 4)


moments_75= pd.DataFrame({
    'Moment Order': [1, 2, 3, 4],
    'Female Height': normal_moments,
    
})

rounded_75=moments_75.round(5)
rounded_75.head()

   Moment Order  Female Height
0             1       -0.00000
1             2        8.30560
2             3       -0.47174
3             4      160.94863

### Using the results of items 2 and 3 for the set of female height measurements, verify the relations between the moments

# (a) $  m_2=  m'_2 - m'^2_1  $

In [76]:
rounded_mean

,Moment Order,NORMAL mean,SKEWED_RIGHT mean,SKEWED_LEFT mean,UNIFORM mean
0,1,-0.00000,0.00000,-0.0000,-0.00000
1,2,8.30560,178.88960,419.7600,0.07886
2,3,-0.47174,4588.12838,-12498.2640,0.00034
3,4,160.94863,210642.88344,927289.7472,0.01125

### The formula for raw moment is given by: $m'_k= 1/N \sum_{i=1}^N X_i^k$

### $m'_1= 1/50 \sum_{i=1}^{50}X_i$
### $m'_2= 1/50 \sum_{i=1}^{50}X_i^2$

In [115]:
raw_m1=(1/N) * sum(normal[i]**1 for i in range(1, len(normal)+1))
raw_m2=(1/N) * sum(normal[i]**2 for i in range(1, len(normal)+1))
print("Raw m1= ",raw_m1,"Raw m2= ",raw_m2)

Raw m1=  65.12 Raw m2=  4248.92

In [106]:
m2=round(raw_m2-raw_m1**2, 3)
m2_veri=round(normal_mean_moments[1],3)
print(f"The central m2 in the dataframe is {m2_veri}")
print(f"The computed central m2 is {m2}")
if m2==m2_veri:
    print ('The relation for m2 is True')
else: 
    print ('False')

The central m2 in the dataframe is 8.306
The computed central m2 is 8.306
The relation for m2 is True

# (b) $ m_3=  m'_3 - 3 m'_1m'_2 + 2 m'^3_1$

### $ m'_3= 1/50 \sum_{i=1}^{50}X_i^3 $

In [112]:
raw_m3=(1/N) * sum(normal[i]**3 for i in range(1, len(normal)+1))
print("Raw m3= ", raw_m3)

Raw m3=  277770.92

In [116]:
m3=round(raw_m3-(3*raw_m1*raw_m2)+(2*(raw_m1**3)), 3)
m3_veri=round(normal_mean_moments[2],3)
print(f"The central m3 in the dataframe is {m3_veri}")
print(f"The computed central m3 is {m3}")
if m3==m3_veri:
    print ('The relation for m3 is True')
else: 
    print ('False')

The central m3 in the dataframe is -0.472
The computed central m3 is -0.472
The relation for m3 is True

# (c) $ m_4=  m'_4 - 4 m'_1m'_3 + 6 m'^2_1 m'_2 - 3 m'^4_1$

### $ m'_4= 1/50 \sum_{i=1}^{50}X_i^4 $

In [117]:
raw_m4=(1/N) * sum(normal[i]**4 for i in range(1, len(normal)+1))
print("Raw m4= ", raw_m4)

Raw m4=  18194173.64

In [119]:
m4=round(raw_m4-(4*raw_m1*raw_m3)+(6*(raw_m1**2)*raw_m2)-3*(raw_m1**4), 3)
m4_veri=round(normal_mean_moments[3],3)
print(f"The central m4 in the dataframe is {m4_veri}")
print(f"The computed central m4 is {m4}")
if m4==m4_veri:
    print ('The relation for m3 is True')
else: 
    print ('False')

The central m4 in the dataframe is 160.949
The computed central m4 is 160.949
The relation for m3 is True